body{
    height: 100vh;
} 
.container{
    
    height: 100%;
}

.obavestenje{

    border: 1px solid black;
    padding: 30%;
    align-items: center;
    box-shadow: 0 0 9px rgba(0, 0, 0, .6);

}

