.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 2px solid orange;
    border-radius: 10px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: orange;
    border-color: orange;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-primary i {
    margin-right: 5px;
  }

  .card-custom {
    width: 700px;
  }




  

